<h2> Создание новой роли</h2>
<form asp-action="AddRole" asp-controller="Admin" method="post">
    <label> Имя роли: </label>
    <input type="text" name="name"/>
    <input type="submit" value="OK" class="btn btn-secondary"/>
</form>