@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser>  SignInManager
@inject UserManager<IdentityUser>  UserManager

@{
    if (SignInManager.IsSignedIn(User))
    {
        <ul class="navbar-nav ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @UserManager.GetUserName(User)
                </a>
                
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a asp-area="" asp-controller="Client" asp-action="Index"
                           class="dropdown-item">Профиль</a>
                        <br />
                        <a asp-area="" asp-controller="Account" asp-action="ChangePassword"
                           asp-route-name="@UserManager.GetUserName(User)" class="dropdown-item">Смена пароля</a>
                        <br />
                        <a asp-area="" asp-controller="Client" asp-action="GetPurchaseHistory"
                           class="dropdown-item">История заказов</a>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" class="dropdown-item">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link"> Выход </button>
                        </form>
                    </div>
                
            </li>
        </ul>
    }
    else
    {
        <ul class="navbar-nav ">
            <li><a asp-controller="Account" asp-action="Register" class="btn btn-secondary"> Регистрация </a></li>
            <li><a asp-controller="Account" asp-action="Login" class="btn btn-secondary"> Вход </a></li>
            </ul>
    }
}
