@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    if(SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("user"))
        {
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @UserManager.GetUserName(User)
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" asp-action="ChangePassword"
                        asp-controller="Account" 
                        asp-route-name="@UserManager.GetUserName(User)">Сменить пароль</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-action="GetPurchaseHistory"
                        asp-controller="Client"
                        asp-route-name="@UserManager.GetUserName(User)">История заказов</a>
                    </li>
                    <li>
                        <form asp-controller="Account" asp-action="Logout" class="dropdown-item">
                            <button type="submit" class="btn navbar-btn "> Выход</button>
                        </form>
                    </li>
                </ul>
            </li>
            </ul>
        }
        else if (User.IsInRole("admin"))
        {
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @UserManager.GetUserName(User)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" asp-action="Index"
                                    asp-controller="Admin">Пользователи</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-action="GetRoles"
                            asp-controller="Admin">Роли</a>
                        </li>
                        <li>
                            <form asp-controller="Account" asp-action="Logout" class="dropdown-item">
                                <button type="submit" class="btn navbar-btn "> Выход</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        }

    }
    else
    {
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-action="Register" asp-controller="Account">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Login" asp-controller="Account">Вход</a>
            </li>
        </ul>
    }
}
